body {
    padding-top: 50px;
}

.nav-list {
    font-size: 25px;
}

.clock_tab{
	margin-top: 10px;
	width: 300px;
}

.row-fluid {
	width: 95% !important;
}

.body-page{
	height: 500px;
}